
mendes/data/
mendes/notebooks/file.txt
mendes/data/tencent-ml-images/data/models/stage-2-rn50.pth
mendes/data/tencent-ml-images/data/models/tmp.pth
mendes/data/tencent-ml-images/data/models/stage-1-rn50.pth
mendes/data/tencent-ml-images/data/train_urls_from_openimages.txt
mendes/data/sports/models/stage-1.pth
mendes/data/sports/models/stage-2.pth
mendes/data/sports/models/tmp.pth
mendes/data/sports/export.pkl
mendes/data/sports/export_sports.pkl
mendes/data/cifar-10/prod/models/stage-1.pth
mendes/data/cifar-10/prod/models/tmp.pth
mendes/data/cifar-10/train.7z
mendes/data/cifar-10/test.7z
mendes/data/sentiment140/models/optimized.pth
mendes/data/sentiment140/models/tmp.pth
mendes/data/sentiment140/models/fine_tuned.pth
mendes/data/sentiment140/models/fine_tuned_enc.pth
mendes/data/sentiment140/train.csv
mendes/data/sentiment140/training.1600000.processed.noemoticon.csv
mendes/data/sentiment140/data_save.pkl
tutorials/fastai/course-v3/.git/objects/pack/pack-cb97266d12bd49b49b6eb3777f8adc66a9ae7d72.pack
tutorials/fastai/course-v3/nbs/dl1/data/bears/models/stage-1.pth
tutorials/fastai/course-v3/nbs/dl1/data/bears/models/stage-2.pth
tutorials/fastai/course-v3/nbs/dl1/data/bears/models/tmp.pth
tutorials/fastai/course-v3/nbs/dl1/data/bears/export.pkl
tutorials/fastai/course-v3/docs/production/aws-beanstalk.zip
